<h1>This is your profile view for user <%= @user.full_name %></h1>

<% if current_user === @user %>
  <%= link_to "Update Profile", edit_user_path(@user) %>
<%# <% end %>
<% else %>
  <%= button_to "Add Friend", controller: "friendships", action: "create" %>
<% end %>

