// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  margin: 0
}

nav#top {
  background-color: #025fb9;
  padding: 5px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;

  a {
    color: #ba1c00;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.35rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: rgba(207, 21, 21, 0.499);
    }
  }
  
  ul {
      display: flex;
      flex-direction: row;
      justify-content: right;
      align-items: center;
      
      li {
        margin-left: 1rem;
        list-style: none;
      }
  }  
}
  