// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  margin: 0;
  height: 100vh;
}

div#new_post_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #0379EB;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  
  textarea {
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    resize: none;
  }
}

div#feed {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  overflow-y: auto;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #0379EB;
  height: 59vh;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  
  div.feed_post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #ffffff57;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

div#feed::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}